:root {
  // text Colors ---------------
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #f6f7f8;
  --color-red: #f6f7f8;
  --color-green: #f6f7f8;
  --transition: all 0.5s ease;
}
